<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <div class="flex-container accent">
      <div class="feature">
        <h2>
          Feature One
        </h2>
        <p>The augmented reality tabletop allows you to see the most interesting moments from the debate, visualized in the form of cubes gathered on the AR board. Each quadrant of the board has attached meanings – speech can be both substantive and unifying, or fluffy and polarizing (or any combination thereof). Users can drop each moment into different parts of the board. </p>
        <img class="feature-pic" src="https://github.com/tabletop-live/xr-elections/blob/master/assets/images/arenaboard.png?raw=true">
      </div>
      <div class="feature">
        <h2>
          Feature Two
        </h2>
        <p>The live chat mode allows users to communicate amongst their party virtually. The interface resembles existing livestreaming applications, and allows the user to send both messages and quick emoji-based reactions. The commentary of New York Times reporters are also present in the chat, with their icons and titles noted.</p>
        <img class="feature-pic" src="https://github.com/tabletop-live/xr-elections/blob/master/assets/images/livechat.png?raw=true">
      </div>
      <div class="feature">
        <h2>
          Feature Three
        </h2>
        <p>The application is networked so that you can communicate not only with your friends physically and virtually, but you can also see how people gathered around tabletops in other parts of the nation are experiencing the debate. Google's Firebase Realtime Database is the backend infrastructure for this function. </p>
        <img class="feature-pic" src="https://github.com/tabletop-live/xr-elections/blob/master/assets/images/staravatars.png?raw=true">
      </div>
    </div>


    <div class="about" role="banner">
         <h2>About Us</h2>

         <img class="img-round" src="https://github.com/tabletop-live/xr-elections/blob/master/assets/images/rashida.jpg?raw=true" width="20%">
         <img class="img-round" src="https://github.com/tabletop-live/xr-elections/blob/master/assets/images/lydia.jpeg?raw=true" width="20%">

         <!-- <img class="img-round" src="/assets/images/lydia.jpeg" width="25%">
         <img class="img-round" src="/assets/images/rashida.jpg" width="25%"> -->
          <br>
         <p>Rashida and Lydia are creative technologists, currently both graduate students at NYU ITP.</p>
         <p>You can see more of their work at <a href="https://rashidakamal.com/">rashidakamal.com</a> and <a href="https://www.lydiajessup.me/"lydiajessup.me</a> </p>
    </div>



    <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages & Lydia & Rashida</a>.</span>
    </footer>

  </body>
</html>
